<div class="bg-parecerista-externo">
    <div class="perfil">
        <div class="back">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
            <h3 class="title-3">Parecerista Externo</h3>
        </div>
        <div class="">
            <div class="box-btn-add align-right">
                <button id="btn-add-pac-ext" class="btn btn-link" type="button" id="modal-editar"
                    data-toggle="modal" data-target="#modal-convite-pac-ext">
                    <i class="fas fa-plus"></i>Adicionar
                </button>
            </div>
            <div class="table-responsive">
                <table class="table parecerista-ext-list">
                    <thead class="thead-blue">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Cpf</th>
                            <th scope="col">Email</th>
                            <th scope="col">Situação Cadastro</th>
                            <th scope="col">Ações</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let parecerista of lstPareceristaExterno; let i = index">
                            <td>{{parecerista?.Nome}}</td>
                            <td>{{parecerista?.Cpf  == '' ? '--' : parecerista?.Cpf }}</td>
                            <td>{{parecerista?.Email}}</td>
                            <td>{{statusCadastro(parecerista?.StatusCadastro)}}</td>
                            <td>
                                <i class="fa fa-address-card fa-2x" style="cursor:pointer" aria-hidden="true" ngbTooltip="{{parecerista.Link}}"
                                    tooltipClass="my-custom-class" triggers="click" [autoClose]="'outside'" placement="top"></i>
                                    &nbsp;&nbsp;
                                <i [hidden]="parecerista?.StatusCadastro" (click)="reenviarConvite( parecerista?.Email )" class="fa fa-envelope fa-2x" style="cursor:pointer" 
                                    ngbTooltip="Reenviar convite!" placement="right"></i>
                                    &nbsp;&nbsp;
                                    <i [hidden]="!parecerista?.StatusCadastro" (click)="reiniciarSenha( parecerista?.Id )" class="fa fa-key fa-2x" style="cursor:pointer" 
                                    ngbTooltip="Reiniciar senha do parecerista externo!" placement="right"></i>
                            </td>
                            <td>
                                <div class="custom-control custom-switch cursor:pointer">
                                    <input [formControl]="checkStatus" type="checkbox" class="custom-control-input"
                                        id="customSwitch{{ i }}" [checked]="parecerista.StatusParecerista"
                                        (click)="alteraStatus( parecerista )">
                                    <label  style="cursor:pointer;" class="custom-control-label" for="customSwitch{{ i }}"></label>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Modal adicionar parecerista externo -->
            <div class="modal fade" id="modal-convite-pac-ext" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Convidar Parecerista</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="group-funcional">
                                <form [formGroup]="formCadastraParecerista" (ngSubmit)="cadastrarPareceristaExterno()">
                                    <div class="mb-3">
                                        <label for="name-pac-ext">Nome</label>
                                        <div class="input-group">
                                            <input formControlName="nomeParecerista" id="name-pac-ext" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="mb-3 input-group">
                                        <label for="mail-pac-ext">E-mail</label>
                                        <div class="input-group">
                                            <input formControlName="emailParecerista" id="mail-pac-ext" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <hr class="mb-4">
                                    <button *ngIf="verficaCadastro"
                                        class="btn-link btn btn-primary btn-navigate btn-prev ng-star-inserted btn-lg btn-block"
                                        type="submit">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>