@import '../../styles.scss';

.perfil {
    .card{
        margin-top: 20px;
        border: none;
    }

    .total{
        margin-bottom: 0px;
    }

    .parecerista-ext-list{
        i{
            color: #4188c3;
            font-size: 18px;
            text-align: center;
        }
    }

    .table{
        border: 1px solid  #dee2e6;
        margin-bottom: 10px;
        font-size: 16px;

        thead{
            tr{
                background-color: #dee2e6;
                th {
                    color: #263a7f;
                    font-weight: bold;
                    vertical-align: bottom;
                    border-bottom: 2px solid #dee2e6;
                    font-size: 18px;
                }
            }
        }
        tfoot{
            tr{
                background-color: #f2f3f5;

                th{
                    color: #263a7f;
                    font-size: 18px;
                    font-weight: bold;

                    span{
                        margin-left: 15px;
                        color: black;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

