@import '../../styles.scss';

.perfil {
    .card{
        margin-top: 20px;
    }

    .table{
        border: 1px solid  #dee2e6;
        margin-bottom: 10px;
        font-size: 16px;

        thead{
            tr{
                background-color: #dee2e6;
                th {
                    color: #263a7f;
                    font-weight: bold;
                    vertical-align: bottom;
                    border-bottom: 2px solid #dee2e6;
                    font-size: 18px;
                }
            }
        }
        tbody{
          tr{
            td{
              i{
                font-size: 24px;
                padding-right: 30px
              }
            }
          }
        }
        tfoot{
            tr{
                background-color: #f2f3f5;
                th{
                    color: #263a7f;
                    font-size: 18px;
                    font-weight: bold;

                    span{
                        margin-left: 15px;
                        color: black;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

