<div class="bg-login">
  <div class="container">
    <div class="row">
      <div class="col-md-4 align-center">
        <div class="box-image">
          <div class="image-login">
            <img src="assets/img/Logo-UNIP-Original-01.svg"  alt="">
          </div>
        </div>
        
        <div class="box-login">
          <div class="text-login">
            <h4>Administrativo</h4>
            <h5>Iniciação Científica e Tecnológica</h5>
          </div>
          <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
            <!-- Input user -->
            <div class="form-group">
              <div class="container-user">
              <div class="icon-user">
                <i class="fas fa-user"></i>
              </div>
              <input formControlName="identificacao" type="text" class="form-control" placeholder="Usuário">
            </div>
            </div>
            
            <!-- Input password -->
            <div class="form-group">
                <div class="container-password">
                  <div class="icon-password">
                    <i class="fas fa-key"></i>
                  </div>
                  <input formControlName="senha" type="password" class="form-control" placeholder="Senha" autocomplete="new-password">
              </div>
            </div>
            
            <div class="button-login">
              <button type="submit" class="btn btn-dark">
                <i class="fas fa-spinner fa-spin" *ngIf="verifyLoader"></i>
                <span  *ngIf="!verifyLoader">Entrar</span>
              </button>
              
            </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>