<div class="perfil" *ngIf="route.children.length === 0">
    <div class="back">
        <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        <h3 class="title-3">Listagem de Projetos</h3>
    </div>
    <div class="row">
        <div id="full-list" class="col-md-12">
            <div class="filtro">
                <h5>Filtrar projetos:</h5> 
                <input class="form-control" placeholder="Filtrar projetos por todos os campos" type="text" id="filtro" (keyup)="filtrarProjetos($event)">
            </div>
            <div class="md-3">
                <h5 class="total">Total de projetos: <span>{{filtrado?.length}}</span></h5>
            </div>

            <!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->
            <ul class="listagem-card">
                <li id="projetoxx" class="card" *ngFor="let projeto of filtrado | paginate: { itemsPerPage: 5, currentPage: p }">
                    <div class="card-header">
                        <div *ngIf="projeto.ValidadoOrientador; else elseBlockOrientador" class="notification success">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <ng-template #elseBlockOrientador>
                            <div class="notification error">
                                <i class="fas fa-exclamation-circle"></i>
                            </div>
                        </ng-template>
                        <h5 class="col-md-2">Projeto {{ projeto?.Projeto }}</h5>

                        <h5 class="col-md-8 text-right"><i *ngIf="(projeto.IdSituacao >=5 && projeto.IdSituacao <= 7) || projeto.IdSituacao == 8" (click)="atribuirBolsa(projeto.Protocolo,false)" style="cursor:pointer" class="fa fa-thumbs-down fa-1.5x" aria-hidden="true" ngbTooltip="Aprovado(a)!, O(a) aluno(a) será notíficado(a) por e-mail."
                            tooltipClass="my-custom-class" placement="top"></i></h5>
                            <h5 class="col-md-1 text-left"><i  *ngIf="(projeto.IdSituacao >=5 && projeto.IdSituacao <= 7) || projeto.IdSituacao == 9" (click)="atribuirBolsa(projeto.Protocolo,true)" style="cursor:pointer" class="fa fa-thumbs-up fa-1.5x" aria-hidden="true" ngbTooltip="Não Aprovado(a)!, O(a) aluno(a) será notíficado(a) por e-mail."
                                tooltipClass="my-custom-class" placement="top"></i></h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>RA: <span id="numero-funcional">{{ projeto.Ra }}</span></p>
                            <p>Protocolo: <span id="situacao">{{ projeto.Protocolo }}</span></p>
                            <p>Ensino: <span id="situacao">{{ projeto.TipoAluno }}</span></p>
                            <p>Situação: <span id="situacao">{{ projeto.Situacao }}</span></p>
                            <p>Submissão: <span id="data-submissao">{{projeto.DataSubmissao | myDate | date:"dd/MM/yyyy"}}</span></p>
                            <hr class="mb-4">
                            <div class="group-info group-aluno">
                                <p>Nome: <span id="nome-aluno">{{ projeto.Aluno }}</span></p>
                                <p>E-mail: <span id="email-aluno">{{ projeto.Email }}</span></p>
                            </div>
                            <hr class="mb-4">

                            <div class="group-info group-orientador">
                                <p>Curso: <span id="curso">{{ projeto.Curso }}</span></p>
                                <p>Turma: <span id="turma">{{ projeto.Turma }}</span></p>
                                
                                        <div *ngIf=" projeto.TipoAluno == 'EAD'; then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock><p>Polo: <span id="campus">{{ projeto?.Campus }}</span></p></ng-template>
                                        <ng-template #elseBlock><p>Campus: <span id="campus">{{ projeto?.Campus }}</span></p></ng-template>

                                    <!-- <div *ngIf="{{ projeto.TipoAluno }} == 'EAD'; else elseBlock">Polo:</div>
                                    <ng-template #elseBlock>Campus:</ng-template><span id="campus">{{ projeto.Campus }}</span> -->
                            </div>

                            <hr class="mb-4">
                            <div class="group-info group-orientador">
                                <p>Orientador(a): <span id="nome-orientador">{{ projeto.Orientador }}</span></p>
                                <p>E-mail Orientador(a): <span id="email-orientador">{{ projeto.EmailOrientador }}</span></p>
                                <p>
                                    Lates: <span id="lates">{{ projeto.Lates == '' ? 'n/a' : projeto.Lates  }}</span>
                                    &nbsp;&nbsp;&nbsp;
                                    <i [hidden]="projeto.Lates == ''" class="fa fa-clipboard" style="cursor:pointer" (click)="copyMessage(projeto?.Lates)" aria-hidden="true" ngbTooltip="{{projeto?.Lates}}"
                                    tooltipClass="my-custom-class" placement="right"></i>
                                </p>
                                

                            </div>
                            <hr class="mb-4">
                        </div>
                        <a routerLink="/lista-projetos/{{ projeto.Protocolo }}"
                            class="btn btn-link btn-primary">Visualizar projeto</a>
                    </div>
                </li>
            </ul>
            <h5 *ngIf="filtrado?.length == 0" style="text-align: center;">Nenhum projeto encontrado!</h5>
            <pagination-controls (pageChange)="p = $event"
            maxSize="9"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Próximo"
            screenReaderPaginationLabel="Paginação"
            screenReaderPageLabel="Página"
            screenReaderCurrentLabel="Você está na página."
            ></pagination-controls>
        </div>
    </div>
</div>

<router-outlet></router-outlet>