<div class="bg-parecerista-interno">
  <div class=perfil>

    <div class="back" >
      <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
      <h3 class="title-3">Parecerista Interno</h3>
    </div>

    <div class="filtro">
        <h5> Filtrar parecerista(s): </h5>
        <input class="form-control" placeholder="Filtrar parecerista(s) por todos os campos" type="text" id="filtro" (keyup)="filtrarProjetos($event)">
    </div>

    <div class="md-3">
      <h5 class="total">Total de pareceristas: <span>{{filtrado?.length}}</span></h5>
    </div>

    <div>
      <div class="box-btn-add align-right">
          <button id="btn-add-pac-int" class="btn btn-link" type="button" id="modal-editar" data-toggle="modal" data-target="#editar-orientador-modal">
              <i class="fas fa-plus"></i>Adicionar
          </button>
      </div>
    
      <div class="table-responsive">
        <table class="table parecerista-inter-list">
            <thead>
                <tr>
                    <th scope="col">Número Funcional</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Titulação</th>
                    <!-- <th scope="col">Curso</th> -->
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody *ngFor="let i = index; let parecerista of filtrado | paginate: { itemsPerPage: 20, currentPage: p };">
                <tr>
                    <td>{{parecerista.NumeroFuncional}}</td>
                    <td>{{parecerista.Nome}}</td>
                    <td>{{parecerista.Email}}</td>
                    <td>{{parecerista.Titulacao   == '' ? '--' :  verificarTitulacao(parecerista?.Titulacao) }}</td>
                    <!-- <td>{{parecerista.Curso}}</td> -->
                    <td>
                        <div class="custom-control custom-switch">
                            <input [formControl]="checkStatus" type="checkbox"  class="custom-control-input" id="customSwitch{{ i }}" [checked]="parecerista.StatusParecerista" (click)="alteraStatus( parecerista )" >
                            <label  style="cursor:pointer;" class="custom-control-label" for="customSwitch{{ i }}"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <pagination-controls (pageChange)="p = $event"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Próximo"
        screenReaderPaginationLabel="Paginação"
        screenReaderPageLabel="Página"
        screenReaderCurrentLabel="Você está na página."
        ></pagination-controls>
      </div>

      <!-- Modal add parecerista -->
      <div class="modal fade" id="editar-orientador-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Parecerista</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="group-funcional">
                    <form [formGroup]="formCadastraParecerista" (ngSubmit)="cadastrarParecerista()">
                        <div class="mb-3">
                          <label for="funcional">Número de funcional</label>
                          <div class="input-group">
                            <input id="pesquisa-pac-int" [formControl]="numFuncional" type="search" class="form-control" placeholder="pesquise o funcional" aria-label="editar-orientador">
                            <div class="input-group-append">
                              <button  class="btn btn-pesquisa" type="button" id="pesquisar-orientador" (click)="buscarOrientador()" >
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      
                      <div class="dados-funcional">
                        <div class="card">
                          <div *ngIf="!verificaNome" class="card-body">
                            <div class="card-text">
                              <p >Nome: <span id="name-pac-int">{{pareceristaInterno?.Nome}}</span></p>
                              <div *ngIf="!verificaCurso" class="group-info">
                                <p>Curso: <span id="curso-pac-int">{{pareceristaInterno?.Curso}}</span></p>
                                <p>Titulação: <span id="numero-funcional">{{pareceristaInterno?.Titulacao}}</span></p>
                              </div>
                            </div> 
                          </div>
                        </div>
                        <hr class="mb-4">
                        <div class="text-center">
                          <button [disabled]="verficaCadastro" class="btn-link btn" type="submit">Cadastrar</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>