// COLORS
$primary: #4188c3;
$secondary: #2A2A2A;
$blue: #044877;
$blue-dark: #1B3D81;
$blue-light: #91DCFF;
$purple: #609;
$orange: #F07D06;
$green: #5Cb85C;
$greenWater: #008080;
$white: #FFF;
$black: #000;
$gray: #d4d4d4;
$gray-dark: #333;
$gray-md: #666;
$gray-light: #999;
$pink: #EB3C7D;
$red: #D9534F;
$yellow: #FFF100;
$gold: #F5970B;
$soft: #F3F3F3;
$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

// FONTS
$trebuchet: 'Trebuchet MS';
$myriad: 'Myriad pro';
$helvetica: 'HelveticaNeue-CondensedBold';
$font-rob-md: 'Roboto-Md';
$font-rob-lt: 'Roboto-Lt';
$font-rob-rg: 'Roboto-Rg';
$font-base-family: $myriad;
$font-base-size: '14px';
$line-base-line-height: '1.2em';
$bebas: 'Bebas Neue';

// SIZES
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1344px;

// MEDIA QUERIES
$desktop-large: "(min-width: 1600px)";
$tablet: "(max-width: 1200px)";
$mobile: "(max-width: 767px)";
$iphone4: "(max-height: 530px)"; 
$iphone5: "(max-height: 630px)";
$iphoneX: "(min-height: 800px)";