@import '../../../styles.scss';

.perfil {
    padding: 0;
}

.custom-control-input, .custom-control-label {
    cursor: pointer !important;
}

.escolher-parecerista {
    span{
        margin-top: 15px;
        display: inline-block;
    }
}