@import '../../styles.scss';
.grid-4{
    display: contents;
}
.btn-link {
    position: relative;
    background: 0 0;
    width: 100%;
    max-width: 100%;
    color: #4188c3;
    font-size: 18px;
    border: 1px solid #4188c3;
    border-radius: 0;
    transition: .2s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 110px;

    &.one-line {
        padding-top: 20px;
    }

    &:hover {
        background: #4188c3;
        color: $white;
        border: 1px solid #4188c3;
        text-decoration: none;
    }
}

.title-page {
    font-size: 24px;   
    color: $primary;
    margin-bottom: 20px;

    .grid {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        @media #{$mobile}{
            top: -30px;
        }

        .lines {
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-left: 5px;
            position: relative;
            padding-top: 4px;
            top: 3px;

            .line {
                width: 100%;
                height: 2px;
                background: $primary;
                margin-bottom: 3px;
            }
        }
    }
}

.badge {
    background: $red;
}

.grid-view {
    .badge {
        position: absolute;
        top: -11px;
        right: -11px;
    }
    i{
        font-size: 30px;
    }
}

.icon-home {
    font-size: 32px;
}


.list-group {
    width: 100%;
    .list-group-item {
        padding: 0;
        
        a {
            padding: 0.75rem 1.25rem;
            width: 100%;
            color: $primary;
            display: block;
    
            &:hover {
                background: $primary;
                color: $white;
                text-decoration: none;
            }    
        }
    }
    
}
