<div class="">
    <div class="row">

        <div class="col-md-12 text-center">
            <h1 class="title-page">Gestão - Setor de Pesquisa
                <span class="grid">
                    <i (click)="gridActive = true" class="fas fa-th-large" title="Ver em grid" data-toggle="tooltip" data-placement="bottom"></i>
                    <span class="lines" title="Ver em lista" data-toggle="tooltip" data-placement="bottom" (click)="gridActive = false">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </span>
                </span>
            </h1>
            <hr>
        </div>


        <div *ngIf="gridActive" class="grid-4" style="width: 100%; text-align:center;">
            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/lista-projetos']" class="btn-link btn btn-primary btn-navigate btn-prev one-line">
                    <i class="fas fa-list-alt"></i>
                    <br>
                    Listagem de Projetos
                </a>
            </div>

            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/parecerista-interno']"
                    class="btn-link btn btn-primary btn-navigate btn-prev one-line">
                    <i class="fas far fa-address-card icon-home"></i>
                    <br>
                    Parecerista Interno
                </a>
            </div>
            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/parecerista-externo']"
                    class="btn-link btn btn-primary btn-navigate btn-prev one-line">
                    <i class="fas fa-address-card icon-home"></i>
                    <br>
                    Parecerista Externo
                </a>
            </div>
            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/ranking']" class="btn-link btn btn-primary btn-navigate btn-prev one-line"
                    style="min-height: 120px;">
                    Parecerista Interno
                    <br>
                    <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    <br>
                    Ranking dos Projetos
                </a>
            </div>
            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/ranking-externo']" class="btn-link btn btn-primary btn-navigate btn-prev one-line"
                    style="min-height: 120px;">
                    Parecerista Externo
                    <br>
                    <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    <br>
                    Ranking dos Projetos
                </a>
            </div>
            <div class="col-md-4 text-center grid-view">
                <a [routerLink]="['/grupo-pesquisa']" class="btn-link btn btn-primary btn-navigate btn-prev one-line"
                    style="min-height: 120px;">
                    <i class="fas fa-object-group"></i>
                    <br>
                    Grupo de Pesquisa
                </a>
            </div>
        </div>
            <ul  *ngIf="!gridActive" class="list-group">
                <li class="list-group-item">
                    <a routerLink="/lista-projetos"><i class="fas fa-list-alt col-md-1"></i>Listagem de Projetos </a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/parecerista-interno']"><i class="fas fa-address-card col-md-1"></i> Parecerista
                        Interno</a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/parecerista-externo']"><i class="fas fa-address-card col-md-1"></i> Parecerista
                        Externo</a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/ranking']"><span class="col-md-1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span> Ranking - Parecerista Interno</a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/ranking-externo']"><span class="col-md-1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span> Ranking - Parecerista Externo</a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/grupo-pesquisa']"><i class="fas fa-users col-md-1"></i>Grupo pesquisa</a>
                </li>
            </ul>
        </div>
    </div>