@import "../_variables.scss";
@import "../_mixins.scss";


body {
    font-family: $font-base-family;
}

.show-mobile {
    display: none;
    @include xs() {
        display: block;
    }
}

.show-desktop {
    display: block;
    @include xs() {
        display: none;
    }
}