@import "../_variables.scss";
@import "../_mixins.scss";


.container {
    min-height: 80vh;
    background: $white;
    padding: 40px 20px 20px;
}

.login {
    .container {
        background: transparent;
    }
}

.btn-link {
    position: relative;
    background: 0 0;
    width: 100%;
    max-width: 180px;
    color: #4188c3;
    font-size: 18px;
    border: 1px solid #4188c3;
    border-radius: 0;
    transition: .2s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;

    &:hover {
        background: #4188c3;
        color: $white;
        border: 1px solid #4188c3;
        text-decoration: none;
    }
}
.table th, .table td {
    border-top: none;
}
.back {
    margin-bottom: 10px;

    i {
        font-size: 20px;
        color: #0056b3;
    }
}

#toast-container > div {
    opacity:1;
    font-size: 16px;
}