
@font-face { font-family: Myriad pro; src: url('assets/css/fonts/MyriadPro-Cond.otf'), url('assets/css/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('assets/css/fonts/MyriadPro-Cond.woff') format('woff'), url('assets/css/fonts/MyriadPro-Cond.ttf') format('truetype'), url('assets/css/fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg'); }
@font-face { font-family: HelveticaNeue-CondensedBold; src: url('assets/css/fonts/HelveticaNeue-CondensedBold.otf'), url('assets/css/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'), url('assets/css/fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('assets/css/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'), url('assets/css/fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg'); }